[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    hunk-header-decoration-style = ul
    hunk-header-style = "syntax"
    hunk-label = ""
    file-decoration-style = blue
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    hyperlinks = true
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
